.prose {
  font-size: 1.1rem;
}

.prose :where(h2):not(:where([class~="not-prose"], [class~="not-prose"] *, :first-child)) {
  margin-top: 4em;
}

.prose :where(h3):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 3em;
}

.fd-codeblock pre > *,
.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-size: 0.9rem;
}
